/Noosium/bin/Debug/net6.0/Selenium/Utilities/crid.json
/Noosium/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/Noosium/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Noosium/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/Noosium/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Noosium/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/Noosium/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Noosium/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/Noosium/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/Noosium/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/Noosium/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/Noosium/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Noosium/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/Noosium/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Noosium/bin/Debug/net6.0/Newtonsoft.Json.dll
/Noosium/obj/Debug/net6.0/Noosium.csproj.CopyComplete
/Noosium/obj/Debug/net6.0/Noosium.csproj.CoreCompileInputs.cache
/Noosium/obj/Debug/net6.0/Noosium.csproj.FileListAbsolute.txt
/Noosium/bin/Debug/net6.0/Noosium.deps.json
/Noosium/bin/Debug/net6.0/ref/Noosium.dll
/Noosium/bin/Debug/net6.0/Noosium.dll
/Noosium/obj/Debug/net6.0/ref/Noosium.dll
/Noosium/obj/Debug/net6.0/Noosium.dll
/Noosium/obj/Debug/net6.0/Noosium.genruntimeconfig.cache
/Noosium/bin/Debug/net6.0/Noosium.pdb
/Noosium/obj/Debug/net6.0/Noosium.pdb
/Noosium/bin/Debug/net6.0/Noosium.runtimeconfig.json
/Noosium.sln.DotSettings
/Noosium.sln.DotSettings.user
/Noosium/bin/Debug/net6.0/NuGet.Frameworks.dll
/Noosium/bin/Debug/net6.0/nunit.engine.api.dll
/Noosium/bin/Debug/net6.0/nunit.engine.core.dll
/Noosium/bin/Debug/net6.0/nunit.engine.dll
/Noosium/bin/Debug/net6.0/nunit.framework.dll
/Noosium/bin/Debug/net6.0/NUnit3.TestAdapter.dll
/Noosium/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
/Noosium/bin/Debug/net6.0/testcentric.engine.metadata.dll
/Noosium/bin/Debug/net6.0/testhost.dll
/.idea/.idea.Noosium/.idea/vcs.xml
/Noosium/bin/Debug/net6.0/WebDriver.dll
/Noosium/bin/Debug/net6.0/WebDriver.Support.dll
/Noosium/obj/Debug/net6.0/Noosium.assets.cache
/Noosium/obj/Noosium.csproj.nuget.dgspec.json
